.glyph {
	font-size: 1.5em;
	cursor: help;
	padding: 0 3px;
}

/* Centering content */
.centerText { text-align: center; }
.center { display:inline-flex; justify-content: space-evenly; width: 100%; }

.displayBox { 
	border: solid 2px var(--md-primary-fg-color); 
	padding: 0.3em 1em;
	border-radius: 0.3em;
	display: flex;
	justify-content: space-evenly;
	width: 80%;
}

/* Code copy only input (see CONTRIBUTING.md) */
pre + pre > button, pre + p + hr {
	display: none!important;
}
pre > code {
	padding-bottom: 1em!important;   /* Space below allows low hanging characters to be visible */
	line-height: 1.2em;
	font-size: 0.95em!important;
}
hr + p + pre > button {
	top: -0.2em !important;          /* Move copy buttons in line with input */
}
pre + pre, hr + p + pre {
	margin-top: -1.8em!important;    /* Visually merge consecutive code blocks */
}
pre + pre > code, hr + p + pre > code {
	box-sizing: border-box;
	padding-top: 0!important;       /* Bring output lines closer to input lines */
}
dfn { font-weight: bold; }

/* Footer */
.aplcourse-version {
    width: auto;
    color: var(--md-footer-fg-color);
    font-size: .64rem;
    margin: auto 0.6rem;
}